.input-width {
    width: 90%;
}

input::placeholder {
    color: white !important;
}

.input-focus:focus {
    background-color: rgb(57, 57, 57);
    outline: none;
    box-shadow: none;
}
.input-position{
    bottom: 5%;
    left: 12%;

}
.offcanvas-scroll {
  overflow: hidden !important;
}