@tailwind base;
@tailwind components;
@tailwind utilities;
@import "bootstrap/dist/css/bootstrap.min.css";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg-primary-color{
  background-color: rgb(57, 57, 57);
}
.primary-color{
  color: rgb(218, 218, 218);
}
.screen_hight{
  height: 100vh;
}
.sidebar-screen-hight{
  height: 75vh;
}
.hight-fit{
  height: 75%;
}
.pointer{
  cursor: pointer;
}
.hover-color:hover{
    color: rgb(218, 218, 218);
}
.list-hover:hover{
  background-color: black;
  cursor: pointer;
}

.custom-scroll {
  overflow-y: auto;    
}


.custom-scroll::-webkit-scrollbar {
  width: 8px; 
}

.custom-scroll::-webkit-scrollbar-track {
  background: #1e1e1e; 
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgb(50, 7, 79); 
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #040404; 
}
.heading-grad{
background: #FF0000;
background: linear-gradient(to left, #FF0000 20%, #1B2AFF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.spinner-color{
  color: #ab00ef;
}
.input:disabled{
  background-color:rgb(57, 57, 57); ;
}