@tailwind base;
@tailwind components;
@tailwind utilities;
@import "bootstrap/dist/css/bootstrap.min.css";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:black;
}
.bg-primary-color{
  background-color: rgb(57, 57, 57);
}
.primary-color{
  color: rgb(176, 175, 175);
}
.screen_hight{
  height: 100vh;
}
