@tailwind base;
@tailwind components;
@tailwind utilities;
@import "bootstrap/dist/css/bootstrap.min.css";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg-primary-color{
  background-color: rgb(57, 57, 57);
}
.primary-color{
  color: rgb(218, 218, 218);
}
.screen_hight{
  height: 100vh;
}
.sidebar-screen-hight{
  height: 80vh;
}
.hight-fit{
  height: 85%;
}
.pointer{
  cursor: pointer;
}
.hover-color:hover{
    color: rgb(218, 218, 218);
}
.list-hover:hover{
  background-color: black;
  cursor: pointer;
}