*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-color{
    background-color:rgb(51, 51, 51);
}
.right-0{
    right: 10px;
}
.pointer{
    cursor: pointer;
}
.todocomplete{
    text-decoration: line-through;
    color: green !important;
    background-color:rgb(90, 90, 90);
}